
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>

<html class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeDraw - Welcome</title>
</head>
<body class="h-100" style="background-image: url('../../Content/Backgrounds/JapanBackground.jpg');">
    
    <div class="text-center text-white d-flex h-100">
        <div class="container justify-content-center align-self-center">
            <h1>Welcome to HomeDraw!</h1>
            <p class="lead text-white-50" style="font-size:x-large;">
                Create interactive floorplans for your dream house online.
            </p>

            <p>
                @Html.ActionLink("Sign Up", "SignUp", "Home", null, new { @class = "btn btn-outline-info my-2 my-sm-0 navButtonsNormal" })
            </p>
        </div>
    </div>






</body>
</html>
