
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MainDashboardLayout.cshtml";
}

<!DOCTYPE html>

<html class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeDraw - Error Message</title>
</head>
<body class="h-100" style="background-image: url('../../Content/Backgrounds/CityBackground.jpg');">

    <div class="row h-100">
        <div class="text-center text-white d-flex h-100">
            <div class="container justify-content-center align-self-center text-center">
                <h2>@ViewBag.Error</h2>
                
            </div>
        </div>
    </div>

    


</body>
</html>

